.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

p {
  color: #F1EFE7;
}
/* Space out content a bit */
body {

  background-color: #232323;

}
body:after{
  background-image: url("../images/bg_me.jpg");
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
h1,h2,h3 {
  font-family: 'Titan One', cursive;

  color:#f4efe2;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  display: flex;
  img {
    float: left;
    height: 12%;
    width:12%;
  }
  h1{
    margin-left:20px;
    font-size: 4rem;
  }

}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  color:#f4efe2;

}
aside{
  position: absolute;
  right:5%;
  top:5%;
  width: 25%;
  height: auto;
  /*background-color: #2D2E3B;*/
  #me{
    border-radius: 50%;
  }
.about{
  margin-top: 20px;
  p{
    font-family: 'Lato', sans-serif;
    //font-family: 'Voltaire', sans-serif;
    //font-family: 'Open Sans', sans-serif;
    b{
      font-weight: bold;
    }
  }
}


}

/* Custom page footer */


/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}
article.intro {
  width: 50%;
}
.container {

  padding: 0;
  margin: 10px 0 0 10px;
    .header{
      .nav-pills{
        .nav-link{
          color: #f4efe2;
        }
          .nav-link{

            &:visited{
              color: #f4efe2;
            }

            &.active{
              color: #232323;
              background-color: #f4efe2;
            }

            color: #f4efe2;
          }
    }
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

  background:none;
}
.jumbotron .btn {

  font-size: 1.5rem;

}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
