$backgroundColor : #232323;
$textColor : #F1EFE7;
$headlineFont : 'Titan One', cursive;
$logoFont : 'Titan One', cursive;
$paragraphFont : 'Lato', sans-serif;
$paragraphFont2 : 'Open Sans', sans-serif;

p, a{
  color: $textColor;
  font-family: $paragraphFont2;
  text-decoration:none;
}
body {
  margin: 0;
  background-color: $backgroundColor;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;


  &:after {
  }

  .container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: center;

    section#sidebar {
      width: 20%;

      .contactCard {
        margin: 40px 0px 0px 40px;

        p {
          i {
            margin-right: 5px;
          }
        }

        h3 {
          color: $textColor;
          font-family: $paragraphFont;
        }

        .email, .tlf, .SocialMe {
          p {

            i {
              margin-right: 5px;
            }
          }
        }

        .socialMe {
          a {
            text-decoration: none;

            &:hover {
             
            }

            &:active {
            }

            &:visited {
            }
          }
        }
      }
    }

    #content {
      width: 70%;

      div.about {

        img#me {
          border-radius: 1%;
          float: left;
          margin-right: 20px;
          width: 30%;
          max-width: 370px;
        }
      }
    }

    aside {
      width: 10%;
    }
  }

  header {
    font-family: $logoFont;
    color: $textColor;
    width: auto;
    height: 200px;
    margin: 20px;

    img#pandaLogo {
      height: 100%;
      float: left;
      margin-right: 50px;
    }

    h1 {
      float: left;
      font-size: 5rem;
    }
  }

  nav {
    border-bottom: 1px solid $textColor;

    ul.navigation {
      list-style: none;

      li.nav-listItem {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 5px;

        a {
          text-decoration: none;
          font-family: $logoFont;
          font-size: 1.2rem;

          &:visited {
          }

          &:active {
          }

          &:hover {
            background-color: $textColor;
            color: $backgroundColor;
          }
        }
      }
    }
  }

  footer {
    flex-shrink: 0;
    background: #151515;

    .skills {
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .skillSet {
        margin: 10px;

        i {
          font-size: 3rem;
        }
      }
    }
  }
}
