$ColorOne: #c43235;
$ColorTwo:#300032;
$ColorThree: #06000a;
$ColorFour:#e6e6e8;

$fontFam:'Ubuntu', sans-serif;
$fontFam2: 'Nunito', sans-serif;
$fontFam3: 'Exo 2', sans-serif;
$fontFam4: 'Concert One', serif;
$fontFam5: 'Karla', sans-serif;
$fontFam6: 'Playfair Display', serif;

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*background-image: url("../images/planetsInSpace.jpg");*/
  background: linear-gradient($ColorTwo,$ColorThree);

  &.contactPage {
    #content {


      .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contactinfo-desc{
          width:25%;
        }
         .contactinfo-tlf {
          width: 25%;
        }
        .contactinfo-tlf {
          width: 25%;
        }

        .contactinfo-email {
          width: 25%;
        }

        .contactinfo-lnkdin {
          width: 25%;
        }
      }
    }
  }

  .expressed {
    color: $ColorOne;
  }

  #content {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    // margin: auto;
  }

  h1 {
    font-size: 64px;
    display: inline;
  }

  h4 {
    font-size: 18px;
    display: inline;
  }

  h5 {
    display: inline;
  }

  .content-element {
    margin: auto;


    .textLeft {
      text-align: left;
    }

    .quarterbox {
      width: 20%;
      height: 100%;
      margin: 0 10px 0 10px;
      text-align: center;
      span{
        font-weight: bold;
        font-size: 18px;
      }
    }

    &.opacity {
      opacity: 0.4;
    }

    &.topmargin {
      margin-top: 10px;
    }

    .wrapper {
      display: flex;
      justify-content: center;

      &.column {
        flex-direction: column;
      }

      &.row {
        flex-direction: row;
      }


      a.frontpage.button {
        margin: 5px;
        text-decoration: none;
        color: $ColorFour;
        padding: 10px;
        border-radius: 5px;
        border-color: $ColorFour;
        border: 1px solid;
        width: 200px;

        &:first-child {
          background-color: $ColorOne;
          border-color: $ColorOne;
        }

        &:hover {
          background-color: $ColorOne;
          border-color: $ColorOne;
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    padding: 20px;
    background-color: $ColorTwo;

    .footer-element {
      font-size: 14px;
      color: $ColorFour;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: $ColorFour;

        &:visited {
          color: $ColorFour;
        }

        &:hover {
          color: $ColorOne;
        }
      }

      .footer-item {
        margin: 0 5px 0 5px;
      }
    }
  }

  #topbar {
    color: $ColorOne;
    /*width: 100%;*/
    height: 50px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;



    #navbar {
      float: right;

      .nav-element {
        float: left;
        margin: 10px 10px 10px 10px;

        &:last-child {
          margin: 10px 15px 10px 10px;
        }


        a {
          font-size: 16px;
          color: $ColorFour;
          font-family: $fontFam5;
          text-decoration: none;
          border: 1px solid;
          border-color: $ColorTwo;
          border-radius: 10%;
          padding: 5px;
        }

        a:hover {
          /* font-size: 18px;*/
          color: $ColorOne;
          font-family: $fontFam5;
          text-decoration: none;
          border: 1px solid;
          border-color: $ColorOne;
          border-radius: 10%;
          padding: 5px;
        }

        a:active {
          /* font-size: 18px;*/
          color: $ColorThree;
          font-family: $fontFam5;
          text-decoration: none;
          border: 1px solid;
          border-color: $ColorOne;
          border-radius: 10%;
          padding: 5px;
        }

        a.active {
          /* font-size: 18px;*/
          color: $ColorOne;
          font-family: $fontFam5;
          text-decoration: none;
          border: 1px solid;
          border-color: $ColorOne;
          border-radius: 10%;
          padding: 5px;
        }
      }
    }

    #title {
      float: left;
      margin: 0px 5px 0px 5px;

      h3, h2 {
        //margin:0;
        //padding:0;
        display: inline;
      }
    }
  }
}

body {
  /*background-color: $ColorThree;*/
  font-family: $fontFam3;
  color: $ColorFour;
  background-image: url("../images/planetsInSpace.jpg");
}
