# dependencies
node_modules
bower_components

# compiled output
/dist
/.tmp

# System Files
.DS_Store
Thumbs.db
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/NicklasVind_DK.iml
.idea/vcs.xml
.idea/workspace.xml
